<p-toast #toast></p-toast>
<div class="column gap-1">
    <!-- Add Product Button -->

    <p-button type="button" icon="pi pi-plus" (click)="toggleAddPopup()" label="Add Product"
        class="add-product-btn"></p-button>


    <section class="wrap row gap-2 justify-around">
        @for (product of products; track product.id) {
        <app-product [product]="product" (edit)="toggleEditPopup($event)"
            (delete)="toggleDeletePopup($event)"></app-product>
        }
        @empty {
        <p> There are no products. </p>
        }
    </section>

    <!-- Paginator   -->
    <section>
        <p-paginator (onPageChange)="onPageChange($event)" #paginator [first]="first" [rows]="rows"
            [totalRecords]="totalRecords" [rowsPerPageOptions]="rowsPerPageOptions"></p-paginator>
    </section>
</div>


<!-- Popups -->

<app-edit-popup header="Add Product" [(display)]="displayAddPopup" (confirm)="onConfirmAdd($event)">
</app-edit-popup>
<app-edit-popup header="Edit Product" [product]="selectedProduct" [(display)]="displayEditPopup"
    (confirm)="onConfirmEdit($event)">
</app-edit-popup>